#logo { width: 150px;
height: 90px;
margin: 0;


}

.btn {
    background-color: #E96931;
  border: none;
  color: white;
  padding: 7px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  border-radius: 9px;
  vertical-align: 15%;
 text-align: left;
 cursor: pointer;

 position: absolute; right: 100px; top: 20px;

}

.btn:hover {
  opacity: 0.9;
}



 #nav_container { 
    font-family: 'Alike', serif;
font-size: xx-large;
color: #481C60;
margin: 0;
background-color: #F6F5F2;

}
#nav_container a:hover{ color:#E96931;
}
#nav_container a {
    

     text-decoration: none; 
    font-family: 'Alike', serif;
    font-size: x-large;
    color: #481C60;
    padding: 60px; 
    vertical-align: 145%;
   margin: 0;

}




 /* body {
  background-image: url("./assests/reading.png");
  background-repeat: no-repeat;
 background-position-y: 50px;
 background-position-x: right ;
 
 } */

body { background-image: url("./assests/reading.png");
background-repeat: no-repeat;
background-position: right;
background-position-y: 100px;
height: 100px;
}

#ddd{
  position:relative; left:40px; top: 100px;
  font-size: larger;
}


.container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #FCFBF8;
  height: 350px;
  width: 270px;
  padding: 30px;
  margin: 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative ; top : -15px;
  justify-content: space-around;
  align-items: center;
}


#big{
  position:relative;  top: 550px;
  height: 250px;
  background-color: #9ABFDE;
  display: flex;
  justify-content: space-around;
}


.discover{
  width: 190px;
  height: 180px;
 
}



#arrow{
  background-color: #EA4920; 
  border: none; 
  border-radius: 200px;
  padding: 12px 16px; 
  position: absolute;
  left:  250px;
  cursor: pointer; 
  
}
/* our partners */
#partners {
  height: 222px;
  position:relative;  top: 1050px;
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-around;
}

.dis {width: 80px;
height: 60px;
}

#tit{
  position:relative;  top: 1050px;
}
/* cotact our student advi */






















/* sign in */
.form {
  position: absolute;top: 150px; ;
  height: 390px;
  position: relative;
  z-index: 1;
  background: #8E7D93;
 width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 25px;
}


.form input {font-family: 'Red Hat Display', sans-serif;
border-radius: 25px;
outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
 
 
.form button:hover {
  background: #FAB60A;
}
   
.form button {

  font-family: 'Red Hat Display', sans-serif;
border-radius: 25px;
outline: 0;
background-color: #E96931;
width: 100%;
border: 0;
padding: 15px;
color: white;
font-size: 15px;
cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #FAB60A;
  font-size: 12px;
}
.form .message a {
  color: #ED5F1E;
  text-decoration: none;
}
.regpage{
  background-color:#f8f3e4;
height: 10000px;
}


 /* con */

 #small { 
  position:relative;  top: 1190px;
  height: 250px;
  
  display: flex;
  justify-content:center;
 }
 
 .container3{ 
  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  height: 350px;
  width: 270px;
  padding: 30px;
  margin: 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative ; top : -30px;
  justify-content: space-around;
  align-items: center;
 }
 #arrow2{
  background-color:#ED5F1E;
  border: none; 
  border-radius: 25px;
  padding: 12px 16px; 
  
  cursor: pointer; 
  width: 100%;
}




